coverage==7.6.9
folium==0.19.2
grpc==1.0.0
grpc_status==1.0.0
httpx==0.13.3
ipython==8.12.3
memory_profiler==0.61.0
numpy==2.2.1
parameterized==0.9.0
pickle5==0.0.12
protobuf==5.29.2
psutil==5.9.0
py4j==0.10.9.7
pyarrow==18.1.0
scikit_learn==1.6.0
scipy==1.14.1
setuptools==75.1.0
six==1.17.0
streamlit==1.41.1
tabulate==0.9.0
torcheval==0.0.7
torchvision==0.20.1
tornado==6.1
tornado==6.4.2
typing_extensions==4.12.2
xmlrunner==1.7.7
zhipuai==2.1.5.20241204
